<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- 
			prepend the following to <param-value>:
			classpath:net/bull/javamelody/monitoring-spring.xml
			- or -
			classpath:net/bull/javamelody/monitoring-spring-aspectj.xml
			- or -
			classpath:net/bull/javamelody/monitoring-spring-datasource.xml
			
			Attention: Does not work at present! (tp)
		-->
		<param-value>
		    classpath*:META-INF/nuclos/*-beans.xml
		</param-value>
	</context-param>
	
	
	<!-- 
		https://code.google.com/p/javamelody/wiki/UserGuide
		JavaMelody monitoring - uncomment to enable (tp)
	-->
	<!-- filter>
		<filter-name>monitoring</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
		<async-supported>true</async-supported>
		<init-param>
			<description>regex of allowed ip address</description>
		    <param-name>allowed-addr-pattern</param-name>
			<param-value>127\.0\.0\.1</param-value>
		</init-param>
		<init-param>
			<description>javamelody logging</description>
		    <param-name>log</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>monitoring</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>net.bull.javamelody.SessionListener</listener-class>
	</listener -->
        
	<!-- 
		PerfFilter for performance logging/profiling.
		Do not use in production! (tp)
	-->
	<!-- filter>
	    <filter-name>perfFilterRemoting</filter-name>
	    <filter-class>org.nuclos.server.web.PerfFilter</filter-class>
	    <init-param>
	        <param-name>loggingPrefix</param-name>
	        <param-value>remoting:</param-value>
	    </init-param>
	</filter>
	<filter>
	    <filter-name>perfFilterJms</filter-name>
	    <filter-class>org.nuclos.server.web.PerfFilter</filter-class>
	    <init-param>
	        <param-name>loggingPrefix</param-name>
	        <param-value>activemq:</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
		<filter-name>perfFilterRemoting</filter-name>
	    <url-pattern>/remoting/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>perfFilterJms</filter-name>
	    <url-pattern>/jmsbroker</url-pattern>
	</filter-mapping -->


	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.nuclos.server.web.NuclosContextLoaderListener</listener-class>
	</listener>

   <servlet>
      <servlet-name>JnlpServlet</servlet-name>
      <servlet-class>org.nuclos.server.jnlp.JnlpServlet</servlet-class>
   </servlet>

   <servlet>
	    <servlet-name>remoting</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/nuclos/*-remoting.xml</param-value>
		</init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
	    <servlet-name>jmsbroker</servlet-name>
		    <servlet-class>org.nuclos.server.web.activemq.NuclosJMSBrokerTunnelServlet</servlet-class>
	    <load-on-startup>2</load-on-startup>
	</servlet>

	<servlet>
		<display-name>CXF Servlet</display-name>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<servlet>
        <servlet-name>spring-ws</servlet-name>
        <servlet-class>org.springframework.ws.transport.http.MessageDispatcherServlet</servlet-class>
        <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/nuclos/*-ws.xml</param-value>
		</init-param>
		<init-param>
		    <param-name>transformWsdlLocations</param-name>
		    <param-value>true</param-value>
		</init-param>
        <load-on-startup>4</load-on-startup>
    </servlet>

	<servlet>
        <servlet-name>reports</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/nuclos/*-reports.xml</param-value>
		</init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
    
    <servlet>
        <servlet-name>restservice</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:META-INF/nuclos/*-restservice.xml</param-value>
		</init-param>
        <load-on-startup>6</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>restservice</servlet-name>
        <url-pattern>/restservice/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>reports</servlet-name>
        <url-pattern>/reports/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>spring-ws</servlet-name>
        <url-pattern>/springws/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
      <servlet-name>JnlpServlet</servlet-name>
      <url-pattern>*.jnlp</url-pattern>
    </servlet-mapping>

	<servlet-mapping>
	    <servlet-name>remoting</servlet-name>
	    <url-pattern>/remoting/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	    <servlet-name>jmsbroker</servlet-name>
	    <url-pattern>/jmsbroker</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/ws/*</url-pattern>
	</servlet-mapping>

</web-app>
