.svn
/build.properties
/build
/nuclos-common/src/main/resources/info.xml
/nuclos-common/src/main/resources/status.xml
# m2 stuff
.classpath
.project
.settings
target
pom.xml.versionsBackup
/velocity.log
#META-INF


