.svn
/build.properties
/build
/nuclos-common/src/main/resources/info.xml
/nuclos-common/src/main/resources/status.xml
/nuclos-common/src/main/resources/info.txt
/nuclos-common/src/main/resources/status.txt
/nuclos-server/.springBeans
# m2 stuff
.classpath
.project
.settings
target
pom.xml.versionsBackup
velocity.log
#META-INF
/nuclos-installer/dist
nuclos-war/src/main/webapp/META-INF/context.xml
nb-configuration.xml
*~
.springBeans


