<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" ">
<plist version="1.0">
<dict>
        <key>Disabled</key>
        <false/>
        <key>Label</key>
        <string>org.nuclos.${server.name}</string>
        <key>OnDemand</key>
        <true/>
        <key>ProgramArguments</key>
        <array>
                <string>${server.home}/bin/launchd.sh</string>
        </array>
        <key>RunAtLoad</key>
        <${server.launch.on.startup}/>
        <key>ServiceDescription</key>
        <string>Nuclos (${server.name})</string>
        <key>StandardErrorPath</key>
        <string>${server.home}/logs/launchd.stderr</string>
        <key>StandardOutPath</key>
        <string>${server.home}/logs/launchd.stdout</string>
        <key>UserName</key>
        <string>root</string>
</dict>
</plist>