<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- log4j configuration for the Nuclos client -->
<!-- Version $Revision: 1.5 $ -->

<log4j:configuration>
	<!-- ================================= -->
	<!-- Preserve messages in a local file -->
	<!-- ================================= -->

    <appender name="FILE" class="org.nuclos.common2.logging.CommonDailyRollingFileAppender">
		<param name="File" value="${java.io.tmpdir}/nuclos_client"/>
		<param name="Append" value="true"/>
		<param name="Threshold" value="INFO"/>
		<param name="MaxBackupDays" value="5"/>
        <!-- Rollover each day -->
		<param name="DatePattern" value="'_'yyyy-MM-dd'.log'"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] %m%n"/>
		</layout>
	</appender>

	<!-- ============================== -->
	<!-- Novabit specific               -->
	<!-- ============================== -->

	<category name="org.nuclos" additivity="false">
		<priority value="INFO"/>
		<appender-ref ref="FILE"/>
	</category>

	<category name="org.nuclos.server" additivity="false">
		<priority value="INFO"/>
		<appender-ref ref="FILE"/>
	</category>

	<category name="org.nuclos.client" additivity="false">
		<priority value="INFO"/>
		<appender-ref ref="FILE"/>
	</category>

	<root>
		<priority value="INFO"/>
		<appender-ref ref="FILE"/>
	</root>

</log4j:configuration>
